

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* Styling for the header section */
.header {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: darkblue;
}
.rheader {
  display: flex;
  gap: 12px;
  margin: 16px 48px 16px 16px;
}
.lheader {
    margin: 16px 16px 16px 48px;
}
.rheader, .lheader {
    align-items: center;
}

h1, h7 {
    margin: 0;
    padding: 0;
}


/* Styling for the section1 section */

.section1 {
    display: flex;
    background-color: darkblue;
    justify-content: space-around;
    padding: 40px 20px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1img {
    width: 375px;
}
h1 {
    font-weight: bolder;
    font-size: 40px;
}
.left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 450px;
}
.button1 {
    width: 61.21px;
    margin-top: 10px;
}
/* Styling for section 2 */

img {
    width: 200px;
    height: 200px;
}
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2left {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.section2right {
    display: flex;
    gap: 75px;
    padding: 50px;
}
.html, .css, .git, .github {
    width: 200px;
}
/* Styling for section 3 */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 40px;
}
.top, .bottom {

    width: 400px;
}
.bottom {
    text-align: right;
}

/* Styling for section 4 */
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluebox {
    background-color: darkblue;
    width: 600px;
    height: 100px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}
h2, p {
    margin: 0;
    padding: 0;
}
.button4 {
    background-color: Transparent;
    border: 1px solid black;
}

/* Styling for footer */

.footer {
    text-align: center;
    background-color: gray;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}